# Google Sheet URL for fetching user data
VITE_SHEET_URL=https://opensheet.elk.sh/15ExPw5ifVM_9IOUlp6eERhvy3BCVTghuLLNhskYEIns/data

# Other environment variables can be added here
# VITE_API_URL=https://api.example.com
# VITE_APP_NAME=Intern Finder